@import "base/reset.css";
header {
  background: url('../images/bg-pic.jpg') no-repeat center top;
  min-height: 599px;
  width: 100%;
  background-size: cover;
}
header li {
  display: inline-block;
  padding-left: 30px;
}
header h1 {
  color: white;
  font-size: 29px;
  letter-spacing: 2px;
  font-family: "OpenSansSemiBold", sans-serif;
  line-height: 1.7em;
  text-transform: uppercase;
  padding-left: 0px;
  width: 70%;
  margin: 0 auto;
}
.centered {
  padding-top: 105px;
}
.centered1 {
  margin-top: 93px;
}
.centered1 a {
  font-size: 22px;
  color: #ffffff;
  background: #1e69b8;
  margin: 0 auto;
  padding: 11px 17px 17px;
  border-left: 5px solid #1b5fa6;
}
.centered1 a:hover {
  text-decoration: none;
  background: #1b5fa6;
}
.logo-top {
  padding: 10px 0 10px 0;
  background: rgba(0, 0, 0, 0.67);
  border-width: 0;
}
.logo-top a {
  text-decoration: none;
}
.logo-top a:hover {
  color: #ffffff;
  text-decoration: none;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-brand {
  font-size: 24px;
  color: #ffffff;
  padding-left: 31px;
  font-family: "OpenSansSemiBold", sans-serif;
}
.navbar-collapse .logo {
  padding-top: 10px;
}
.navbar-collapse li {
  font-size: 12px;
}
.navbar-collapse li a {
  font-size: 13px;
  display: block;
  color: #b5b5b5;
}
@media (max-width: 768px) {
  header h1 {
    padding-left: 0px;
  }
  .centered1 {
    margin-top: 84px;
  }
}
@media (max-width: 320px) {
  header {
    min-height: 486px;
  }
  header h1 {
    width: 100%;
  }
  .centered {
    padding-top: 15px;
  }
}
.footer {
  padding: 0;
  background-color: #73767a;
}
.footer section {
  vertical-align: top;
  padding: 55px 0 10px 0;
  color: #ffffff;
  text-align: left;
}
.footer ul {
  min-height: 100px;
}
.footer ul img {
  float: left;
  padding: 15px 0 15px 0;
}
.footer ul li {
  padding: 0;
}
.footer ul li ul {
  margin: 20px 0 0 20px;
}
.footer ul li ul li {
  line-height: 2.2em;
  font-size: 14px;
  font-family: "OpenSansRegular", sans-serif;
}
.footer h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "OpenSansSemiBold", sans-serif;
  background: url('../images/line-grey.jpg') no-repeat left bottom;
  padding: 58px 0px 28px 2px;
  margin-left: 20px;
  letter-spacing: 0.5px;
}
.footer .li4 {
  padding-top: 105px;
  margin-left: -10px;
}
.footer .li1 {
  padding-left: 10px;
}
.socials {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #73767a;
}
.socials a {
  padding: 15px;
  border: 1px solid #aeafb0;
  display: inline-block;
  margin: 1px -21px 0 25px;
}
.fa {
  color: #aeafb0;
}
@media (max-width: 992px) {
  .footer section {
    padding: 18px 0 10px 0;
  }
  .footer ul {
    min-height: 80px;
  }
  .socials {
    margin: 28px -14px 75px -8px;
  }
}
@media (max-width: 768px) {
  .socials {
    position: absolute;
    left: 0px;
    width: 88%;
    margin: 41px -14px 50px -12px;
  }
  .footer {
    height: 500px;
  }
  .footer h2 {
    padding: 83px 0px 28px 0px;
    margin-left: 0px;
  }
  .footer ul li ul {
    margin: 20px 0 0 0;
  }
}
@media (max-width: 320px) {
  .footer {
    margin-top: 74px;
    height: 800px;
  }
  .footer section {
    padding-left: 15px;
    padding-top: 67px;
  }
  .footer h2 {
    font-size: 13px;
    padding: 40px 0px 28px 2px;
  }
  .footer .li1 {
    padding-left: 0;
  }
  .socials {
    margin: 190px -14px 50px -26px;
  }
}
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansExtraBold";
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 0px;
  padding-right: 0px;
}
body {
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 14px;
  color: #737373;
}
h2 {
  text-transform: none;
  background: url('../images/line.jpg') no-repeat center bottom;
  padding: 39px;
}
.main {
  padding-left: 0px;
  padding-right: 0px;
}
.services {
  padding: 0 35px 0 35px;
}
.services h3 {
  text-transform: uppercase;
  padding: 24px 0 15px 0;
  vertical-align: top;
  border-left: 2px solid #e5e4e4;
}
.services li {
  padding: 0;
  margin-bottom: 40px;
  background: #f5f5f5;
}
.services li img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.services ul :first-child h3 {
  border-left: none;
}
.services h2 {
  margin: 74px 0 19px 0;
  font-size: 21px;
}
.services p {
  font-family: "OpenSansLight", sans-serif;
  padding: 10px 0 104px;
  line-height: 2em;
  letter-spacing: 0.3px;
}
.line {
  background: url('../images/line.jpg') no-repeat center top;
  border: 0;
  padding: 0;
}
.lineleft {
  background: url('../images/line.jpg') no-repeat left top;
  border: 0;
  padding: 0;
}
.allservices,
.learnmore,
.list {
  margin-top: 55px;
}
.allservices a,
.learnmore a,
.list a {
  font-size: 13px;
  color: #2378c0;
  margin: 0 auto;
  padding: 10px 55px 10px 58px;
  border: 1px solid #92b5db;
  text-transform: uppercase;
}
.allservices a:hover,
.learnmore a:hover,
.list a:hover {
  text-decoration: none;
  background: #1b5fa6;
  color: #ffffff;
}
.learnmore {
  margin-top: 47px;
}
.learnmore a {
  padding: 10px 42px 10px 43px;
}
.allservices {
  margin-bottom: 80px;
}
.learnmore {
  margin-bottom: 123px;
}
.repairs {
  padding: 0;
}
.repairs h2 {
  margin: 4px 0 10px 0;
  font-size: 21px;
}
.repairs p {
  font-family: "OpenSansLight", sans-serif;
  padding: 18px 25px 100px 80px;
  line-height: 2.1em;
  letter-spacing: 1px;
}
.repairs h3 {
  text-transform: uppercase;
  padding-bottom: 3px;
  color: #000000;
  font-size: 14px;
  text-align: left;
  line-height: 1.5em;
  padding-left: 30px;
  letter-spacing: 0.4px;
}
.repairs li {
  min-height: 150px;
  padding: 0;
  margin-right: -10px;
}
.repairs li p {
  padding: 0 0 0 30px;
  margin-bottom: 30px;
}
.repairs li img {
  margin-bottom: 10px;
  padding-left: 5px;
  margin-top: 5px;
}
.service {
  padding: 0;
  background-color: #f5f5f5;
}
.service p {
  text-align: left;
}
.serviceimg {
  padding: 0;
}
.serviceimg img {
  float: right;
  object-fit: cover;
}
.maintenance {
  background-color: #f5f5f5;
  text-align: left;
  padding-left: 14px;
  padding-right: 0px;
  min-height: 673px;
}
.maintenance h2 {
  margin: 105px 0 10px 0;
  font-size: 21px;
  background: url('../images/line.jpg') no-repeat left bottom;
  padding: 0 0 65px 0;
}
.maintenance p {
  font-family: "OpenSansLight", sans-serif;
  padding-top: 30px;
  margin-bottom: 50px;
  line-height: 2em;
  letter-spacing: 1px;
}
.maintenance ul {
  list-style-image: url('../images/marker.png');
  line-height: 2.25em;
  margin-bottom: 20px;
  padding-left: 23px;
  letter-spacing: 1px;
}
.list {
  margin-top: 61px;
  text-align: center;
  margin-bottom: 50px;
  padding: 0;
  margin-left: -30px;
}
.list a {
  padding: 10px 52px 10px 52px;
}
@media (min-width: 768px) {
  .repairs li p {
    text-align: left;
  }
}
@media (max-width: 768px) {
  .repairs h3 {
    text-align: center;
  }
  .repairs li p {
    text-align: center;
  }
  .maintenance p {
    text-align: center;
  }
  .lineleft {
    background: url('../images/line.jpg') no-repeat center top;
  }
}
@media (min-width: 1200px) {
  .serviceimg img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .serviceimg img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .services h3 {
    border-left: none;
  }
}
@media (max-width: 992px) {
  .services h2 {
    margin: 65px 0 19px 0;
  }
  .services p {
    padding: 10px 0 100px;
  }
  .services li img {
    height: 70%;
  }
  .allservices {
    margin-top: 35px;
    margin-bottom: 75px;
  }
  .repairs h2 {
    margin: 3px 0 10px 0;
  }
  .repairs p {
    padding: 18px 25px 94px 80px;
  }
  .repairs h3 {
    line-height: 2em;
    padding-left: 17px;
  }
  .repairs li {
    min-height: 176px;
    margin-right: -20px;
    margin-left: 10px;
  }
  .repairs li p {
    padding: 0 0 0 17px;
    margin-bottom: 45px;
  }
  .learnmore {
    margin-top: 41px;
  }
  .maintenance h2 {
    padding: 0 0 56px 0;
  }
  .maintenance p {
    margin-bottom: 42px;
  }
}
@media (max-width: 768px) {
  .services {
    padding: 0 15px 0 15px;
  }
  .services h3 {
    padding: 18px 0 15px 0;
  }
  .allservices {
    margin-top: 61px;
  }
  .repairs p {
    padding: 19px 20px 125px 20px;
    width: 90%;
    margin: 0 auto;
  }
  .repairs h2 {
    margin: 0 0 10px 0;
  }
  .repairs h3 {
    text-align: left;
    padding-left: 52px;
    width: 80%;
  }
  .repairs ul {
    margin-left: 15px;
  }
  .repairs li {
    min-height: 137px;
  }
  .repairs li p {
    margin-bottom: 20px;
    text-align: left;
    padding: 0 0 0 35px;
  }
  .learnmore {
    margin-top: 102px;
    margin-left: -6px;
  }
  .maintenance h2 {
    margin: 100px 0 10px 0;
  }
  .maintenance p {
    width: 90%;
    margin-bottom: 16px;
  }
  .list {
    margin-top: 50px;
    margin-left: -8px;
  }
}
@media (max-width: 320px) {
  .services {
    padding: 0 15px 0 15px;
  }
  .services h2 {
    text-transform: uppercase;
    margin: 83px 0 13px 0;
  }
  .services p {
    padding: 10px 0 134px;
  }
  .services li {
    margin-bottom: 37px;
  }
  .services li img {
    height: 100%;
  }
  .allservices {
    margin-top: 58px;
    margin-bottom: 75px;
  }
  h2 {
    padding: 25px;
  }
  .repairs h2 {
    margin: 16px 0 10px 0;
  }
  .repairs p {
    padding: 19px 20px 95px 20px;
    width: 100%;
  }
  .repairs h3 {
    text-align: center;
    width: 100%;
    padding-bottom: 0px;
  }
  .repairs ul {
    margin-left: 0px;
  }
  .repairs li {
    min-height: 200px;
    margin-right: -20px;
    margin-left: 0px;
  }
  .repairs li p {
    padding: 2px 0 0 0;
    margin-bottom: 55px;
    text-align: center;
  }
  .repairs li img {
    padding-left: 0;
  }
  .learnmore {
    margin-top: 30px;
  }
  .maintenance {
    padding-left: 0;
  }
  .maintenance h2 {
    padding: 0 0 26px 0;
    margin: 100px 0 10px 0;
    text-transform: uppercase;
    letter-spacing: -1px;
    background: url('../images/line.jpg') no-repeat center bottom;
  }
  .maintenance p {
    padding-bottom: 60px;
    padding-top: 8px;
    width: 90%;
    margin: 0 auto;
    line-height: 30px;
    letter-spacing: 0px;
  }
  .maintenance ul {
    line-height: 2.2em;
    padding-left: 8px;
  }
  .list {
    margin-top: 64px;
    margin-left: 0px;
  }
  .serviceimg img {
    max-height: 233px;
  }
}
